ul {
  padding: 0;
  margin: 0;
}
::selection {
  color: white;
  background: var(--color-secondary);
}
:root {
  --color-primary: #a2d2ff;
  --color-secondary: #4d5557;
  --color-accent: #d00000;
  --color-heading: #023047;
  --color-body: #767186;
  --color-body-dark: #41385e;
  --color-border: #85bcc0;
  --border-radius: 50px;
  --color-banner: #2979ff;
  --color-background: #f1faee;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.img__100 {
  width: 100%;
}
/*--------------------Topography------------------------------------------------------------------- */

html {
  /*multiply by 10 to get size in px*/
  font-size: 62.5%;
}

body {
  background: var(--color-background);
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
  line-height: 2;

  margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 1.2;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.6rem;
  }
}

/*----------------------------------------links-----------------------------*/

.link-arrow {
  text-decoration: none;
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
.search--locations a {
  color: var(--color-heading);
  transition: color 0.3s;
}
.search--locations a:hover {
  color: var(--color-body);
}

.footer-fropdown-body--links a {
  color: var(--color-banner);
  transition: all 0.3s;
}
.footer-fropdown-body--links a:hover,
a:focus {
  color: var(--color-secondary);
}
/*-----------------badges---------*/
.badge {
  border-radius: var(--border-radius);
  font-size: 3rem;
  font-weight: 700;
  padding: 0.5rem 3rem;
  white-space: nowrap;
}
.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
.badge--small {
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 2rem;
  }
  .badge--small {
    font-size: 1.5rem;
  }
}
/*----------lists--------------*/
.list {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 4rem;
  color: var(--color-heading);
}
.list--tick .list__item {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}
.list a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.2rem;
  }
}
/*---------------buttons-----------------*/

.btn {
  border-radius: 50px;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 2px;
  outline: 0;
  padding: 2rem 3vw;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}
.btn--search {
  background: var(--color-banner);
  color: white;
}
.btn--primary {
  background: var(--color-accent);

  color: white;
}
.btn--secondary {
  background: var(--color-secondary);
  color: white;
}
.btn--purchase {
  color: var(--color-primary);
  background: white;
  border: 2px solid var(--color-border);
}
.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

/*--------foucs and hover--------*/

.btn--search:hover {
  background: var(--color-secondary);
}

.btn--primary:focus,
.btn--primary:hover {
  background: white;
  color: var(--color-accent);
}

.btn--secondary:focus,
.btn--secondary:hover {
  background: white;
  color: var(--color-secondary);
}

.btn--purchase:focus,
.btn--purchase:hover {
  background: var(--color-primary);

  color: white;
}
/*--------------inputs----------*/

.input {
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 1rem 3rem;
  outline: 0;
}
::placeholder {
  color: var(--color-body);
}

.input-group {
  border: 2px solid var(--color-body);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input {
  border: 0;
  width: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 1024) {
  .input {
    font-size: 1.5rem;
  }
}

/*-----icons------*/

.icon-container {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: var(--color-banner);
}
.icon {
  width: 50px;
  height: 50px;
}
.icon--primary {
  fill: white;
}
.icon--secondary {
  fill: var(--color-secondary);
}
.icon--nav {
  fill: var(--color-banner);
}
.icon--secondary {
  fill: black;
}

/*------cards------*/

.card {
  overflow: hidden;
  box-shadow: 0 0 10px var(--color-border);

  border-radius: 10px;
}

.card__header,
.card__body {
  padding: 2rem;
}
.card--primary .card__header {
  color: white;
  background: var(--color-primary);
}
.card--secondary .card__header {
  color: white;
  background: var(--color-secondary);
}
.card--secondary .badge--secondary {
  color: #645c5c;
  background: white;
}
.card--rent .card__header {
  background: url(/images/rent.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.card--buy .card__header {
  background: url(/images/buy2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.card--sell .card__header {
  background: url(/images/rent.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/*---services---*/

.service {
  transition: transform 0.2s ease-in;
}

.service__name {
  color: white;
  margin: 0;
  font-size: 3rem;
}
.service__price {
  font-size: 6rem;
}
.service__period,
.service__price-range {
  font-size: 2rem;
  opacity: 80%;
  margin-right: 1rem;
}
.service__description {
  display: block;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.service__name,
.service__description,
.service__price-range,
.service__price,
.service__period {
  text-shadow: 1px 1px 1px rgba(7, 7, 7);
}
.service .list__item {
  margin-bottom: 2rem;
}
.service .list--tick {
  margin: 0;
}
.service:hover {
  transform: scale(1.05);
}

/*----popular badge----*/
.service--popular .card__header {
  position: relative;
}
.service--popular .card__header::before {
  content: url(/images/popular.svg);
  width: 50px;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 10%;
}

@media screen and (min-width: 1024px) {
  .service__price {
    font-size: 6rem;
  }
  .service__period {
    font-size: 1.8rem;
  }
  .service__description {
    font-size: 2rem;
  }
}

/*----media------*/
.media {
  display: flex;
  margin-bottom: 4rem;
}
.media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}
/*--quotes---*/
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-dark);
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__line {
  position: relative;
  bottom: 20px;
}
.quote__author {
  font-family: "Righteous", cursive;
  font-style: normal;
  margin-bottom: 0;
}
.author--desig {
  color: var(--color-body);
  margin-top: 0;
  font-style: normal;
}
@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2rem;
  }
  .author--desig {
    font-size: 1.8rem;
  }
}

/*------------grid---------*/

.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*---testimonial----*/
.testimonial {
  padding: 2rem;
}
.testimonial__img > img {
  width: 100%;
}
.testimonial__img {
  position: relative;
}
.testimonial__img > .icon-container {
  position: absolute;
  margin-top: 1rem;
  right: -32px;
}

@media screen and (max-width: 764px) {
  .testimonial__img > .icon-container {
    right: 12px;
  }
}
@media screen and (max-width: 380px) {
  .testimonial__img .icon-container {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .testimonial .quote,
  .testimonial.quote__author {
    font-size: 2rem;
  }
}
/*----callout---*/
.callout {
  margin: 0 auto;
  max-width: 1000px;
  padding: 3rem;
  border-radius: 5px;
}
.callout__body {
  text-align: center;
}
.callout--primary {
  background: var(--color-primary);
  color: white;
}
.callout__heading {
  color: white;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__body {
    text-align: left;
  }

  .callout .btn {
    justify-self: center;
    margin: 2rem;
  }
}
/*---collapse---*/

.dropdown__header {
  display: flex;
  justify-content: space-between;
}
.dropdown__heading {
  font-size: 3rem;
  margin: 0;
}
.dropdown__icon {
  transform: rotate(-90deg);
}
.dropdown__body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  opacity: 0;
}
.dropdown--expanded .dropdown__icon {
  transform: rotate(0);
  transition: all 0.3s;
}

.dropdown--expanded .dropdown__body {
  max-height: 100vh;
  opacity: 1;
}
.dropdown__header:hover {
  cursor: pointer;
}

/*--navigatin bar---*/
.nav {
  display: flex;
  background: black;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.3rem 2rem;
}
.nav__list {
  width: 100%;
  margin: 0;
  padding: 0 0.2rem;
}

.nav__item {
  padding: 0 2rem;
  text-align: center;
  border-bottom: 1px solid white;
}
.nav__item > a {
  color: white;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-banner);
}

.dropdown--expanded .nav__menuicon {
  fill: var(--color-banner);
  box-shadow: 0 0 10px 3px var(--color-banner);
  outline: 0;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .nav__menuicon {
    display: none;
  }
  .nav__list {
    max-height: 100%;
    opacity: 1;
    font-size: 1.7rem;
    width: auto;
    display: flex;
    border-bottom: 1px solid var(--color-banner);
  }
  .nav__item {
    border: none;
  }
}
/*----blocks-----*/
.block {
  --padding-vertical: 3rem;
  padding: var(--padding-vertical) 2rem;
}
.block--dark {
  background: var(--color-banner);
}
.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: white;
}
.block__header {
  margin-bottom: 8rem;
  text-align: center;
}
.block--skewed--right {
  padding: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
}
.block--skewed--left {
  padding: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}
/*--hero--*/

.hero .block__header {
  margin-bottom: 0rem;
}

.hero__tagline {
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}
.hero__image {
  width: 100%;
  margin: 3rem auto;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }
  .hero__content {
    align-self: center;
    text-align: left;
  }
}
/*---search section---*/
.search .input-group {
  box-shadow: 0 0 20px 3px var(--color-banner);
  max-width: 700px;
  border: 0;
  margin: 2rem auto;
}
.search--locations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  max-width: 770px;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .search--locations {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    font-size: 1.5rem;
    font-weight: 700;
  }
}

/*---service block---*/

.block-service .grid {
  gap: 3rem;
}

.block-service .card {
  margin: 0 auto;
  max-width: 500px;
}

/*---advertise block-----*/
.block-advertise .advertise-feature {
  gap: 4rem;
  margin: 12rem 0;
}

.block-advertise img {
  width: 100%;
  transition: all 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .block-advertise .media {
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .advertise-feature:nth-of-type(even) .media {
    order: 2;
  }
}

/*-----case---*/
.case {
  background: var(--color-primary);
}
.block-case__image > img {
  width: 100%;
  box-shadow: 0 0 30px 8px var(--color-body-dark);
}
.block-case .grid {
  gap: 4rem;
}
.block-case .list {
  margin-top: 0;
}
.block-case .media {
  line-height: normal;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px 2px black;
}

@media screen and (min-width: 768px) {
  .block-case .media {
    font-size: inherit;
    line-height: inherit;
  }
  .block-case .grid {
    grid-template-columns: 50% 50%;
  }
  .block-case__image {
    justify-self: end;
  }
  .block-case__image > image {
    width: auto;
    max-width: 700px;
  }
}

/*--footer----*/
.footer {
  background: black;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 700;
}
.footer__brand {
  text-align: center;
  margin-top: 4rem;
}

.footer__brand img {
  width: 100%;
  max-width: 150px;
}
.footer__copyright {
  font-size: 2.1rem;
  opacity: 0.5;
  color: white;
}
.footer i {
  margin-right: 2rem;
}

@media screen and (min-width: 768px) {
  .footer__section {
    border: 0;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .dropdown__icon {
    display: none;
  }
  .footer .dropdown__body {
    opacity: 1;
    max-height: 100%;
    font-size: 1.5rem;
  }
  .footer__brand {
    margin: 0;
    order: -1;
  }
  .footer__copyright {
    font-size: 1rem;
  }
  .footer__heading {
    font-size: 1.8rem;
  }
}
