:root {
  --color-primary: #6899d1;
  --color-secondary: #4d5557;
  --color-accent: #e92113;
  --color-heading: #1b0760;
  --color-body: #767186;
  --color-border: #588b8f;
  --border-radius: 50px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*--------------------Topography------------------------------------------------------------------- */

html {
  /*multiply by 10 to get size in px*/
  font-size: 62.5%;
}

body {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
  line-height: 2;

  margin-bottom: 0.5rem;
}
h1,
h2,
h3 {
  color: var(--color-heading);
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.6rem;
  }
}

/*----------------------------------------links-----------------------------*/

.link-arrow {
  text-decoration: none;
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/*-----------------badges---------*/
.badge {
  border-radius: var(--border-radius);
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 3rem;
  white-space: nowrap;
}
.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}
.badge--small {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/*----------lists--------------*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 4rem;
}
.list--tick .list__item {
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.2rem;
  }
}
/*---------------buttons-----------------*/

.btn {
  border-radius: 50px;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 2px;
  outline: 0;
  padding: 2rem 3rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.btn--block {
  width: 100%;
  display: inline-block;
}
.btn--primary {
  background: var(--color-accent);

  color: white;
}
.btn--secondary {
  background: var(--color-secondary);
  color: white;
}
.btn--purchase {
  color: var(--color-body);
  background: white;
  border: 2px solid --color-border;
}

/*--------foucs and hover--------*/

.btn--primary:focus,
.btn--primary:hover {
  background: white;
  color: var(--color-accent);
}

.btn--secondary:focus,
.btn--secondary:hover {
  background: white;
  color: #4d5557;
}

.btn--purchase:focus,
.btn--purchase:hover {
  background: #767186;
  color: white;
}
/*--------------inputs----------*/

.input {
  border: 2px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 1rem 3rem;
  outline: 0;
}
::placeholder {
  color: var(--color-body);
}

.input-group {
  border: 2px solid var(--color-body);
  border-radius: var(--border-radius);
  display: flex;
  min-width: 300px;
}
.input-group .input {
  border: 0;
  width: 100%;
  padding: 1.5rem 3rem;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 1024) {
  .input {
    font-size: 1.5rem;
  }
}

/*-----icons------*/

.icon-container {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: var(--color-accent);
}
.icon {
  width: 50px;
  height: 50px;
}
.icon--primary {
  fill: white;
}
/*------cards------*/

.card {
  overflow: hidden;
  box-shadow: 0 0 10px var(--color-border);
  height: auto;
  border-radius: 10px;
}

.card__header,
.card__body {
  padding: 3rem;
}
.card--primary .card__header {
  color: white;
  background: var(--color-primary);
}
.card--secondary .card__header {
  color: white;
  background: var(--color-secondary);
}
